<div class="header position-relative overflow-hidden text-center bg-light">
  <div class="col-md-6 p-lg-5 mx-auto my-5">
    <h1 class="header__title font-weight-normal">WE GET <span class="bold-800 base-color">LOGISTICS</span></h1>
    <p class="lead font-weight-normal">
      JB Harris Transport & Logistics team combines passion, transportation experience, as well as technical product knowledge, separating us from other service providers worldwide
    </p>
    <div class="header__button-container">
      <a class="header__button btn btn-outline-secondary" href="#">CARRIER ONBOARDING</a>
      <a class="header__button btn btn-outline-secondary base-color-bg white" href="#">TRACK YOUR SHIPMENT</a>
    </div>
  </div>
</div>
