<div class="core-values dark-bg position-relative mx-auto overflow-hidden">
  <h1 class="core-values__title font-weight-normal white"><span class="bold-800 base-color">CORE</span> VALUES</h1>
  <div class="core-values__card-container col-md-12">
    <div class="card" style="width: 18rem;">
      <img class="card-img-top" src="../../../../../assets/blue-truck.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Sustainability and Environmentally Friendly</h5>
        <a href="#" class="btn base-color-bg white">READ MORE</a>
      </div>
    </div>
    <div class="card" style="width: 18rem;">
      <img class="card-img-top" src="../../../../../assets/truck-city.webp" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Innovation and Excellence</h5>
        <a href="#" class="btn base-color-bg white">READ MORE</a>
      </div>
    </div>
    <div class="card" style="width: 18rem;">
      <img class="card-img-top" src="../../../../../assets/ups-plane.webp" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Buiding Strong Relationships</h5>
        <a href="#" class="btn base-color-bg white">READ MORE</a>
      </div>
    </div>
    <div class="card" style="width: 18rem;">
      <img class="card-img-top" src="../../../../../assets/puzzle.webp" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Consistency and Integrity</h5>
        <a href="#" class="btn base-color-bg white">READ MORE</a>
      </div>
    </div>
  </div>
</div>