<div class="services position-relative mx-auto overflow-hidden">
  <h1 class="services__title font-weight-normal base-color-bg white"><span class="bold-800">WHAT. WE. DO.</span></h1>
  <h5 class="services__subtitle font-weight-normal">Heavy Transport & Logistics Services</h5>
  <div class="services__card-container col-md-10">
    <div class="row">
      <div class="card">
        <div class="row ">
          <div class="col-sm-7">
            <div class="card-block">
              <h4 class="card-title">Rail</h4>
              <p>We select the correct rail car - heavy duty, multi-axle, Schnabel railcar, etc. We provide supervision of all cargo lashings and tie-downs...</p>
              <a href="#" class="btn base-color-bg white btn-sm">Read More</a>
            </div>
          </div>
          <div class="col-sm-5 card-image">
            <img class="d-block w-100" src="https://picsum.photos/150?image=380" alt="">
          </div>
        </div>
      </div>
      <div class="card dark-bg white">
        <div class="row ">
          <div class="col-sm-7">
            <div class="card-block">
              <h4 class="card-title">Road</h4>
              <p>We guarantee compliance with all regulartory requirements, codes, and standards. Our team will obtain necessary permits...</p>

              <a href="#" class="btn base-color-bg white btn-sm">Read More</a>
            </div>
          </div>
          <div class="col-sm-5 card-image">
            <img class="d-block w-100" src="https://picsum.photos/150?image=380" alt="">
          </div>
        </div>
      </div>
      <div class="card">
        <div class="row ">
          <div class="col-sm-7">
            <div class="card-block">
              <h4 class="card-title">Global Transportation</h4>
              <p>Transportation education, Cargo claim assistance, and processing Cargo supervision / surveys at origin / destination seaport...</p>
              <a href="#" class="btn base-color-bg white btn-sm">Read More</a>
            </div>
          </div>
          <div class="col-sm-5 card-image">
            <img class="d-block w-100" src="https://picsum.photos/150?image=380" alt="">
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="card dark-bg white">
        <div class="row ">
          <div class="col-sm-7">
            <div class="card-block">
              <h4 class="card-title">Make a Difference</h4>
              <p>It is our mission to recruit, motivate, and retain the best personnel in the industry. We guarantee professionalism and knowledge of...</p>
              <a href="#" class="btn base-color-bg white btn-sm">Read More</a>
            </div>
          </div>
          <div class="col-sm-5 card-image">
            <img class="d-block w-100" src="https://picsum.photos/150?image=380" alt="">
          </div>
        </div>
      </div>
      <div class="card">
        <div class="row">
          <div class="col-sm-7">
            <div class="card-block">
              <h4 class="card-title">Warehousing</h4>
              <p>Our team will gladly assist in the warehousing of products such as: Pharmaceutical Chemical Beverage / Aluminum Can Oil / Energy / Power...</p>
              <a href="#" class="btn base-color-bg white btn-sm">Read More</a>
            </div>
          </div>
          <div class="col-sm-5 card-image">
            <img class="d-block w-100" src="https://picsum.photos/150?image=380" alt="">
          </div>
        </div>
      </div>
      <div class="card dark-bg white">
        <div class="row ">
          <div class="col-sm-7">
            <div class="card-block">
              <h4 class="card-title">Cargo Supervision / Surveys</h4>
              <p>Our team will provide surverys at the origin and desitnation seaport. We take the proper steps to guarantee the supervision of your cargo, giving...</p>
              <a href="#" class="btn base-color-bg white btn-sm">Read More</a>
            </div>
          </div>
          <div class="col-sm-5 card-image">
            <img class="d-block w-100" src="https://picsum.photos/150?image=380" alt="">
          </div>
        </div>
      </div>
    </div>

  </div>
</div>