<div class="mission position-relative mx-auto overflow-hidden bg-light">
  <div class="col-md-5">
    <iframe [src]='safeURL' width="720" height="415" frameborder="0" allowfullscreen></iframe>
  </div>
  <div class="col-md-5">
    <h1 class="mission__title font-weight-normal">OUR <span class="bold-800 base-color">MISSION</span></h1>
    <p class="lead font-weight-normal">
      The JB Harris family is committed to the integrity of transportation and providing extreme solutions to complex challenges.  
      We are here for all of your heavy transport & logistics needs. Our entire focus is our customers and the success of our team. 
      We will always be honest and deliver accurate services for a fair price. We are one team with one goal: SUCCESS!
    </p>
  </div>
</div>