.base-color {
  color: #cb002b;
}

.base-color-bg {
  background-color: #cb002b;
}

.dark-bg {
  background-color: #161618;
}

.bold-800 {
  font-weight: 800;
}

.white {
  color: #ffffff;
}
